Dockerfile
README.md
test.py
venv/
*.venv
*.venv*
venv.*
.idea

__pycache__/
*.pyc
.git/
.gitignore

*.log
*.swp
*.swo
*.pytest_cache/

__pycache__
*.pyc
*.pyo
.git
.vscode
venv